<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>nest mvc </h1>
    <h2>nest mvc </h2>
    <h2>nest mvc </h2>
    {{#each user as |User|}}
      <p>name: {{ User.name }}</p>
      <p>email: {{ User.email }}</p>
      <p>password: {{User.password}}</p>
      <p>gender: {{User.gender}}</p>
      <p>age: {{User.age}}</p>
    {{/each}}

</body>
</html>